.contactme_page {
  color: white;
}
.contact_me_information {
  height: 100%;
  width: 40%;
  margin-left: 400px;
  display: flex;
  flex-flow: column wrap;
  background: rgba(57, 59, 58, 0.7);
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contactme_box {
  align-self: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  .Contactme_link {
    margin: 10px;
    align-content: center;
    align-self: center;
    align-items: center;
  }
}

.contactme_logo {
  width: 50px;
  height: 50px;
  color: indianred;
  &:hover {
    color: rgba(205, 92, 92, 0.6);
  }
}
