.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--navbar--bg--color);

    /* background: #24252A; */
}

li, button{
    font-family:sans-serif;
    /* color: black; */
    color: var(--secondary--color);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    height: 65px;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
    font-size: 15px;
}

.nav__links li{
    transition: all 0.3s ease 0s;
}

.nav__links li:hover{
    /* color: #5DC5CC; */
    color: var(--tertiary--color);

}

button{
    margin-left: 20px;
    padding: 9px 25px;
    /* background-color: rgba(0,136, 169,1); */
    background-color: var(--tertiary--color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136, 169,0.8);
}

/* Hamburger button Styles */
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(8, 3, 3);
    margin: 5px;
}

@media screen and (max-width: 768px) {

.burger{
    display: block;
}

.nav__links{
    position: absolute;
    right: 0px;
    width: 320px;
    height: 92vh;
    top: 65px;
    /* background-color: #24252A; */
    /* background: rgba(255, 255, 255, 0.8); */
    background-color: var(--primary--color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
.nav__links li{
    display: inline-block;
    padding: 0 20px;


    font-size: 30px;
    font-weight: 500;
    /* color: white; */
    color: var(--secondary--color);
    text-decoration: none;
    margin: 2rem 0 !important;
}

.nav__active{
    transform: translateX(0%);
    display: flex;
}

.nav__active li{
    opacity: 0;
}

}

@media screen and (max-width: 768px) {

    .nav__links{
        width: 100%;
    }

    
    }

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}