:root{
   --primary--color: rgb(4, 4, 53);;
   /* --secondary--color:#27e8a7; */
   --tertiary--color:#df4576;
   --navbar--bg--color:rgb(255 255 255 / 33%);

   --sec--color:#ffcdb2;
   --pri--color:#e5989b;
   --secondary--color:#e5989b;


}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body {
  color:white;
  background: var(--primary--color);
  background-size: cover;
  overflow-x: hidden;
}
